/*
<!-- CSS -->
*/
body {
	background-color: #808080;
	color: #000001;
	font-family: Arial;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
/*specificies header class utilizing "."*/
.header {
	background-color: #000000;
	color: #FFFFFF;
	background-image: url("../images/Imperial-Aquila.jpg");
	background-repeat: no-repeat;
	background-position: center;
	/*if i put it at 400% makes it ridiculously large and does not match the example provided*/
	line-height: 400%;
}

h1 {
	font-family: Georgia;
	margin-bottom: 0;
}

.header, h1{
	text-indent: 0.5em;
}


h2 {
	color: #000000;
}

dd {
	margin-bottom: 1.5em;
}

dt {
	color: #000099;
	font-size: 14pt;
}

main, ul {
	list-style-image: url("../images/favicon (1).ico");
	font-family: Calibri;
	font-size: 13pt;
}


footer {
	font-size: 75%;
	font-style: italic;
	text-align: center;
	font-family: Georgia;
}
table {
	border: 1px solid #000000;
	margin: auto;
	border-spacing: 0;
	width: 600px;
	text-align: center;
}
td, th, tr {
	border: 1px solid #000000;
}
.headercolor {background-color: #000000;
	color:#EAEAEA;
}

.oddrow {background-color:#A9A9A9}

.evenrow {background-color:#696969}

.resort {
	color: #00000;
	font-weight: bold;
}